<div class="container">
    <div class="row">
        <div class="col-6">
            <form>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-sm float-right" type="button" ng-click="content='B'"><i class="fa fa-plus"></i> Add Supplier</button>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <!-- <div class="col-9"> -->
            <div class="col-2">
                <label>Status</label>
                <select class="form-control form-control-sm">
                    <option>All</option>
                    <option>Some</option>
                </select>
            </div>
            <div class="col-2">
                <label>Supplier</label>
                <select class="form-control form-control-sm">
                    <option>All</option>
                    <option>Some</option>
                </select>
            </div>
            <div class="col-2">
                <label>Employee</label>
                <select class="form-control form-control-sm">
                    <option>All</option>
                    <option>Some</option>
                </select>
            </div>
            <div class="col-2">
                <label>Order date range</label>
                <select class="form-control form-control-sm">
                    <option>All</option>
                    <option>Some</option>
                </select>
            </div>
        <!-- </div> -->
        <div class="col-4">
            <br>
            <button class="btn btn-outline-primary btn-row" type="button">Reset Filters</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" value=""></th>
                    <th>Status</th>
                    <th>Order #</th>
                    <th>Suppplier</th>
                    <th>Placed By</th>
                    <th>Order Date</th>
                    <th>Delivery Date</th>
                    <th>Order Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="i in [1, 2, 3, 4, 5]">
                <tr>
                    <td><input type="checkbox" name="" value=""></td>
                    <td><span ng-class="{'text-success': i==1, 'text-warning': i==2, 'text-primary': i==3, 'text-dark': i==4, 'text-danger': i==5}">
                        {{i==1 ? "COMPLETE" : ""}}
                        {{i==2 ? "DELIVERED" : ""}}
                        {{i==3 ? "IN TRANSIT" : ""}}
                        {{i==4 ? "SUBMITTED" : ""}}
                        {{i==5 ? "CANCELLED" : ""}}
                    </span></td>
                    <td><a href="#">123456</a></td>
                    <td><a href="#">Quizno's Bakery</a></td>
                    <td>John Doe</td>
                    <td>Dec 1, 2019 1:50pm</td>
                    <td>Dec 25, 2019</td>
                    <td>$250.00</td>
                    <td>
                        <button class="btn btn-outline-primary btn-row" type="button" ng-click="$parent.content='B'">View</button>
                        <button class="btn btn-primary btn-row" type="button" ng-click="$parent.content='B'">Receive</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>