<div class="container">
    <div class="row justify-content-md-center mb-3">
        <div class="col-1">
            <button class="btn btn-outline-primary btn-row" type="button" ng-click="content='A'"><i class="fa fa-chevron-left"></i></button>
        </div>
        <div class="col-10">
            
            <div class="container">
                <div class="row mb-2">
                    <div class="col-9">
                        <b>View Order: </b>
                        #123456
                        <span class="mr-3"></span>
                        <b>Status: </b>
                        Submitted
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-primary btn-row float-right" type="button">Cancel Order</button>
                        <button class="btn btn-primary btn-row float-right" type="button">Re-Order</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 border">
                        <table class="table">
                            <tr class="small-row">
                                <td><b>Order Date</b></td>
                                <td>Dec 31 2019</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="small-row">
                                <td><b>Requested Delivery Date</b></td>
                                <td></td>
                                <td></td>
                                <td><b>Expected Delivery Date</b></td>
                                <td>Dec 31 2019</td>
                            </tr>
                            <tr class="small-row">
                                <td colspan="3"><b>Name Eatery</b></td>
                                <td></td>
                                <td colspan="1"><b>Quizno's Bakery</b></td>
                            </tr>
                            <tr class="small-row">
                                <td colspan="3">Buyer Name</td>
                                <td></td>
                                <td colspan="1">Supplier Name</td>
                            </tr>
                            <tr class="small-row">
                                <td colspan="3">Buyer Address</td>
                                <td></td>
                                <td colspan="1">Supplier Address</td>
                            </tr>
                            <tr class="small-row">
                                <td colspan="3">Phone Number</td>
                                <td></td>
                                <td colspan="1">Phone Number</td>
                            </tr>
                            <tr class="small-row">
                                <td colspan="3">Email</td>
                                <td></td>
                                <td colspan="1">Email</td>
                            </tr>
                            <tr class="small-row">
                                <td colspan="3">Order placed by: John Doe</td>
                                <td></td>
                                <td colspan="1"></td>
                            </tr>
                        </table>
                        <div>
                            <label class="pl-2"><b>Order Notes and Comments</b></label>
                            <textarea class="form-control" rows="5">Please give me the apples with extra stickers</textarea>
                        </div>
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>SKU</th>
                                        <th>Item name</th>
                                        <th>Unit price</th>
                                        <th>Note</th>
                                        <th>Total price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="border chat-parent">
                            <table>
                                <tr>
                                    <td>Message Supplier</td>
                                </tr>
                                <tr>
                                    <td>(555-5555)</td>
                                </tr>
                            </table>
                            <div class="chat-child">
                                <div class="form-row">
                                    <div class="form-group col-sm-9">
                                        <textarea class="form-control" rows="3" placeholder="Enter message here"></textarea>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <button class="btn btn-primary btn-row" type="button">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-1">
            
        </div>
    </div>
    
</div>