body {
    padding-top: 60px;
    font-size: x-small;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* .col-sm {
    margin: 5px;
    border-style: solid;
    border-width: thin;
}

.row {
    margin: 5px;
    margin-top: 20px;
    border-style: solid;
    border-width: thin;
} */

/* .border { */
    /* margin: 5px; */
    /* margin-top: 20px; */
    /* border-style: solid; */
    /* border-width: thin; */
/* } */

.btn-xs {
    line-height: .5;
    font-size: .75rem;
    padding: 0px;
}

.foo-bottom-row > td {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: .5rem;
    border-top-width: 0px;
}

.foo-expand-row > td {
    padding-top: 0px;
    padding-bottom: 0px;
    /* font-size: .5rem; */
    border-top-width: 0px;
}

.foo-top-row > td {
    padding-bottom: 5px;
}

.btn-row {
    font-size: x-small;
    padding: .1rem .325rem;
    margin-left: .25rem;
}

.foo-header > td {
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: .7rem;
}

h6 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: .7rem;
}

.cart-table {
    border-collapse: separate;
    border-spacing: 0px 3px;
}

.form-control {
    font-size: x-small;
    height: 24px;
    padding: 0rem .5rem;
}

label {
    margin-bottom: 0;
}

.btn-row-toggle {
    font-size: xx-small;
    padding: .1rem .325rem;
    margin-left: .25rem;
    width: 21px;
}

.f-xs {
    font-size: x-small;
}

.tiny-row > td {
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: .5rem;
    border-top-width: 0px;
    min-height: 12px;
}

.small-row > td {
    padding-top: 5px;
    padding-bottom: 0px;
    /* font-size: .65rem; */
    border-top-width: 0px;
    /* min-height: 18px; */
}

.bottom-row > td {
    padding-top: 0px;
    /* padding-bottom: 0px; */
    border-top-width: 0px;
}

.icon {
    /* margin-left: 0px; */
    font-size: medium;
}

.btn-sm {
    font-size: x-small;
    padding: .2rem .5rem;
    /* margin-left: .25rem; */
}

.chat-parent {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: .2rem .5rem;
}

.chat-child {
    margin-top: auto;
}