<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-1">
            <button class="btn btn-outline-primary btn-row" type="button" ng-click="content='A'"><i class="fa fa-chevron-left"></i></button>
        </div>
        <div class="col-10">
            
            <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div class="container">
                                <div class="row">
                                    <h6>Quizno's Bakery</h6>
                                </div>
                                <div class="row mb-3">
                                    Supplier marketing blurb.  Quiznos Bakery is a local bakery full of Rosemary Bread.  We make beautiful sexy sandwiches that will drop your balls and call upon Jesus.  We ship to Afghanistan too!  Founded in 1914, the bread is made with authentic bread.
                                </div>
                                <div class="row">
                                    <input class="form-control" type="text" placeholder="Search for product name or category">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 text-right">
                            <button ng-hide="details===1" class="btn btn-outline-primary btn-row" type="button">Message supplier</button>
                        </div>
                    </div>






                    <div class="row mb-3" ng-show="details===1">
                        <div class="col-3 p-2">
                            <img class="border d-block mx-auto" src="https://www.seriouseats.com/recipes/images/2012/01/20111003-185893-knead-the-book-brioche-200x150.jpg">
                        </div>
                        <div class="col-6 p-2">
                            <div>
                                <h6>God of Brioche</h6>
                                Apetina® Cubes are white Feta cheese cut into cubes in a salty brine which ensures the fresh and slightly salty taste. Open the tub and you’ll discover the unique strainer. Lift it out and let it drain – leaving behind delicious creamy cubes.
                            </div>
                            <div>
                                <br>Source
                                <br>Made in Italy on Dec 31, 2019
                            </div>
                            <div>
                                <br>
                                <button class="btn btn-outline-primary btn-row" type="button">Message supplier</button>
                                <button class="btn btn-outline-primary btn-row" type="button">Request sample</button>
                            </div>
                        </div>
                        <div class="col-3 border p-2">
                            <table class="table table-hover">
                                <tr class="foo-header">
                                    <td>$10 per loaf</td>
                                    <td></td>
                                </tr>
                                <tr class="tiny-row">
                                    <td>Minimum order</td>
                                    <td>5</td>
                                </tr>
                                <tr class="tiny-row">
                                    <td>Volume discount</td>
                                    <td>-10%/20 orders</td>
                                </tr>
                                <tr class="tiny-row">
                                    <td>Cut off</td>
                                    <td>3pm</td>
                                </tr>
                                <tr class="tiny-row">
                                    <td>&nbsp;</td>
                                    <td></td>
                                </tr>
                                <tr class="tiny-row">
                                    <td>0</td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-row-toggle" type="button">+</button>
                                        <button class="btn btn-outline-primary btn-row-toggle" type="button">-</button>
                                    </td>
                                </tr>
                                <tr class="tiny-row">
                                    <td>Subtotal</td>
                                    <td>$0.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>







                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 border text-center p-2" ng-click="details=1">
                                    <!-- <div class="border d-block mx-auto" style="width:200px;height:150px;"></div> -->
                                    <img class="border d-block mx-auto" src="https://www.seriouseats.com/recipes/images/2012/01/20111003-185893-knead-the-book-brioche-200x150.jpg">
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                                <div class="col-3 border text-center p-2">
                                    <div class="border d-block mx-auto" style="width:200px;height:150px;"></div>
                                    <!-- <img class="border d-block mx-auto" src="https://placekitten.com/200/150"> -->
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                                <div class="col-3 border text-center p-2">
                                    <div class="border d-block mx-auto" style="width:200px;height:150px;"></div>
                                    <!-- <img class="border d-block mx-auto" src="https://placekitten.com/200/150"> -->
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                                <div class="col-3 border text-center p-2">
                                    <div class="border d-block mx-auto" style="width:200px;height:150px;"></div>
                                    <!-- <img class="border d-block mx-auto" src="https://placekitten.com/200/150"> -->
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 border text-center p-2">
                                    <div class="border d-block mx-auto" style="width:200px;height:150px;"></div>
                                    <!-- <img class="border d-block mx-auto" src="https://placekitten.com/200/150"> -->
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                                <div class="col-3 border text-center p-2">
                                    <div class="border d-block mx-auto" style="width:200px;height:150px;"></div>
                                    <!-- <img class="border d-block mx-auto" src="https://placekitten.com/200/150"> -->
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                                <div class="col-3 border text-center p-2">
                                    <div class="border d-block mx-auto" style="width:200px;height:150px;"></div>
                                    <!-- <img class="border d-block mx-auto" src="https://placekitten.com/200/150"> -->
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                                <div class="col-3 border text-center p-2">
                                    <div class="border d-block mx-auto" style="width:200px;height:150px;"></div>
                                    <!-- <img class="border d-block mx-auto" src="https://placekitten.com/200/150"> -->
                                    Brioche Buns<br>
                                    $3.50/bun
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>

        <div class="col-1">
            
        </div>
    </div>
    
</div>